body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#clickButton {
    margin-top: 100px;
    cursor: pointer;
    font-size: 24px;
}

#counter {
    font-size: 36px;
}

#autoClickButton {
    margin-top: 20px;
}
